<!DOCTYPE html>
{% load static category %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天天生鲜-首页</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/slide.js' %}"></script>
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
				{% if user.is_authenticated %}
					<div class="login_info fl">
						欢迎您：<em>{{ user.username }}</em>
						<a href="{% url 'logout' %}">注销</a>
					</div>
				{% else %}
					<div class="login_btn fl">
						<a href="{% url 'login' %}">登录</a>
						<span>|</span>
						<a href="{% url 'register' %}">注册</a>
					</div>
				{% endif %}
				<div class="user_link fl">
					<span>|</span>
					<a href="{% url 'user_center_info' %}">用户中心</a>
					<span>|</span>
					<a href="{% url 'cart' %}">我的购物车</a>
					<span>|</span>
					<a href="{% url 'user_center_order' %}">我的订单</a>
				</div>
			</div>
		</div>
	</div>
    {% block main %}
	<div class="search_bar clearfix">
		<a href="{% url 'homepage' %}" class="logo fl"><img src="{% static 'images/logo.png' %}"></a>
		<div class="search_con fl">
            <form action="{% url 'search' %}">
			<input type="text" class="input_text fl" name="p" placeholder="搜索商品">
			<input type="submit" class="input_btn fr" name="" value="搜索">
            </form>
		</div>
		<div class="guest_cart fr">
			<a href="{% url 'cart' %}" class="cart_name fl">我的购物车</a>

            <div class="goods_count fl" id="show_count">{{ num }}</div>

		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
			{% get_categories as categories %}
            {% for category in categories %}
                <li><a href="{% url 'list' category.id %}" class="{{ category.icon }}">{{ category.name }}</a></li>
            {% endfor %}
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
                {% for img in banner %}
                    <li><img src="{{ MEDIA_URL }}{{ img.img }}" alt="幻灯片"></li>
                {% endfor %}
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
            {% for img1 in jingtai %}
			    <a href="#"><img src="{{ MEDIA_URL }}{{ img1.img }}"></a>
            {% endfor %}
		</div>
	</div>

    {% for fenlei1 in fenlei %}
	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">{{ fenlei1.name }}</h3>
			<div class="subtitle fl">
				<span>|</span>
                {% for goods1 in goods %}
                {% if goods1.goods_id == fenlei1.id %}
				<a href="{% url 'detail' goods1.id %}">{{ goods1.name }}</a>
                {% endif %}
                {% endfor %}
			</div>
			<a href="{% url 'list' fenlei1.id %}" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
            <div class="goods_banner fl"><img src="{{ MEDIA_URL }}{{ fenlei1.img1 }}"></div>
			<ul class="goods_list fl">
                {% for goods1 in goods %}
                {% if goods1.goods_id == fenlei1.id %}
				<li>
					<h4><a href="{% url 'detail' goods1.id %}">{{ goods1.name }}</a></h4>
					<a href="{% url 'detail' goods1.id %}"><img src="{{ MEDIA_URL }}{{ goods1.img1 }}"></a>
					<div class="prize">¥ {{ goods1.price }}</div>
				</li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endfor %}
{% endblock %}
	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
</body>
</html>